<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SNOWTRICKS!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/snowtricks.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.5.95/css/materialdesignicons.min.css" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block sidebar %}
                <div class="nav">
                    <img class="navLogo" src="https://img.freepik.com/vecteurs-libre/autocollant-snowboard-etiquette-vintage-mountain-explorer-creation-logo-aventure-plein-air_87447-117.jpg?size=626&ext=jpg"></img>
                    <div class="navButtonContainer">
                        <button class="navButton" onclick="location.href = '{{ path('blog_list') }}'">Home</button>
                        <button class="navButton" onclick="location.href = '{{ path('blog_list') }}'">Tricks</button>
                        <button class="navButton" onclick="location.href = '{{ path('register') }}'">Sign up</button>
                        <button class="navButton" onclick="location.href = '{{ path('login') }}'">Sign in</button>
                    </div>
                </div>
            {% endblock %}
        

            <div id="content">
                {% block content %}
                
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
